*{
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: cabin;
    box-sizing: border-box;
}

:root{
    --get-started-btn: #f38973;
    --white : #ffffff;
    --add-task-bg: #588e8e;
    --clear-btn-bg: #495482;
    --h2-color: #240f38;
}
#whole-screen{
    display: flex;
    overflow-x: hidden;
}
/* Screen two */
#screen-two{
    text-align: center;
    height: 100vh;
    padding: 5rem 2rem;
    background-color: var(--white);
    min-width: 100vw;
    transition: all 0.4s ease;
    overflow-x: none;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1{
    font-size: 3rem;
    color: var(--get-started-btn);
}
#main-image{
    width: 80%;
}
#get-started{
    padding: 1rem 2rem;
    border-radius: 5rem;
    border: none;
    color: var(--white);
    background: var(--get-started-btn);
    margin-top: 3rem;
    font-size: 1.4rem;
}
#get-started:hover, #get-started:active {
    background: var(--white);
    color: var(--get-started-btn);
    border: 1px solid var(--get-started-btn);
}

#new-tasks{
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    padding: 2rem;
    border-radius: 2rem;
}

#filterer{
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 2rem;
}

#search-bar{
    width:60%;
    font-size: 1.6rem;
    padding: 1rem;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 2rem;
    margin-top: 2rem;
}


#edit-form{
    display: none;
}

/* Screen Three */
#screen-three{
    height: 100vh;
    padding: 5rem 2rem;
    min-width: 100vw;
    transition: all 0.5s ease;
    background: var(--white);
}
#task-text, #task-date, #task-time, #edit-text, #edit-date, #edit-time{
    width: 100%;
    padding: 1rem;
    font-size: 1.4rem;
    border: none;
    border-bottom: 1px solid black;
}

#add-task, #edit-task{
    padding: 1rem 2rem;
    border-radius: 5rem;
    border: none;
    margin-top:1rem;
    font-size: 1.4rem;
    background: var(--add-task-bg);
    color: var(--white);
}
#edit-task{
    background: #f38973;
}
h2{
    font-size: 2.4rem;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    color: var(--h2-color);
}
li{
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
    font-size: 1.6rem;
    background: var(--white);
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    margin-bottom: 1rem;
}
.task-text, .task-text>b{
    font-size: 2.2rem;
    margin-bottom: 1rem;
    
}
.task-date, .task-date>b{
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
.task-time, .task-time>b{
    font-size: 1.2rem;
}

.ct-icons{
    margin-top: 1rem;
    width: 65%;
    display: flex;
    justify-content: space-between;
}
.cancel, .start, .tick, .edit, .tick-from-progress{
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
}
.start{
    color: white;
    background: #588e8e;
}
.tick, .tick-from-progress{
    color: white;
    background: #495482;
}
.edit{
    color: white;
    background: #9562c5;
}
.cancel{
    color: white;
    background: #f38973;
}

.task-complete, .task-in-progress{
    list-style-type: none;
    padding: 1rem;
    font-size: 1.6rem;
    background: var(--white);
}



#clear-btn{
    padding: 1rem 2rem;
    border-radius: 5rem;
    border: none;
    font-size: 1.4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--clear-btn-bg);
    color: var(--white);
}